<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand is-dark">
    <a class="navbar-item is-dark" routerLink="/">
      <img src="https://raw.githubusercontent.com/Youngermaster/Anthropometric-Evaluator/master/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png">
    </a>

    <a role="button" class="navbar-burger is-dark" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu is-dark">
    <div class="navbar-start">
      <a class="navbar-item is-dark" routerLink="/">
        Home
      </a>

      <a class="navbar-item is-dark">
        Exercises
      </a>

      <div class="navbar-item has-dropdown is-hoverable is-dark">
        <a class="navbar-link is-dark">
          Rutines
        </a>

        <div class="navbar-dropdown is-dark">
          <a class="navbar-item is-dark">
            Arm
          </a>
          <a class="navbar-item is-dark">
            Legs
          </a>
          <a class="navbar-item">
            Contact
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Report an issue
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end is-dark">
      <div class="navbar-item is-dark">
        <div class="buttons is-dark">
          <a class="button is-primary ">
            <strong>Generate Code</strong>
          </a>
          <a class="button is-light">
            Log in
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
